body {
  margin: 0;
  height: 100%;
}

/* Dark Theme */
.dark-theme {
  background-color: #303030;
  color: #fff;
}

.dark-theme .app-bar {
  background-color: #303030;
  color: #fff;
}

.dark-theme .scatter-chart-container {
  background-color: #222;
  border: 1px solid #444;
}

/* Light Theme */
.light-theme {
  background-color: #fff;
  color: #121212;
}

.light-theme .app-bar {
  background-color: #f5f5f5;
  color: #121212;
}

.light-theme .scatter-chart-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.custom-app-bar {
  background-color: #b93129 !important; /* set your desired color here */
}

.red-bg {
  background-color: #b93129 !important; /* set your desired color here */
  color: white !important;
}
.red-text {
  color: #b93129 !important; /* set your desired color here */
  font-weight: 900;
}
.selected {
  /* add your desired styles here */
  font-weight: bold;
  /* example: change text color to red */
  border: 2px solid #fff !important;
  color: #fff !important;
}


.bold {
  font-weight: 900;
}
.light-theme .box-bg {
  background-color: #f0f0f0;
}

.dark-theme .box-bg {
  background-color: #616161f2;


}

a {
  color: #b93129 !important;
}

.custom-tooltip {
  background-color: #000; /* Set desired background color */
  color: #fff; /* Set desired text color */
  padding: 10px;
  border-radius: 4px;
}

.tooltip-text {
  margin: 0;
}
